.header {
  /* FlexBox */
  display: flex;
  justify-content: space-between;
  align-content: center;

  /* Other Settings */
  background-color: #4a90e2;
  color: #fff;
  padding: 10px;
}

.header div {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header div img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
